@font-face {
    font-family: 'MuseoSansRounded-100';  
    src: local('MuseoSansRounded-100'), url('https://nomail.com.ua/files/woff/24b76c23a1f336d9579b7f3447f9812c.woff') format('woff'); 
}

.aa-body{
    height: 600px;
    font-family: 'MuseoSansRounded-100';
    background-image: url('../IMG/mainbackgr.jpg');
    background-repeat: no-repeat;
    background-size:100% 600px;
    margin: 0;
}

.aa-product{
   width: 685;
   height: 390;
   background-color: 152335;
   border-radius: 1.5%;
   margin: 110px auto;
   position: relative;
}

.aa-logo{
   position: absolute;
    margin: 25px 0 0 20px;
}

.aa-product__nike{
   position: absolute;
    margin: 125px 0 0 35px;
}

.aa-product__imgbullets{
    position: absolute;
    left: 175px;
    bottom: 18px;
 }

.aa-product__nav{
    width: 245px;
    height: 320px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.aa-product__name{
    font-size: 24px;
    color: 6f7277;
    display: block;
    margin: 0;
}

.aa-product__description{
    font-size: 14px;
    color: 58616c;
    display: block;
    margin: 15px 0;
}

.aa-product__imgstars{
    display: block;
    margin: 28px 0px 28px 0;
}

.aa-product__select{
    display: inline-block;
    background-color: 152335;
    font-size: 14px;
    color: 58616c;
    padding: 8px 10px;
    outline:none;
    border-color: 58616c;
}

.aa-product__button{
    display: block;
    margin-top: 30px;
    padding: 15px 55px;
    font-size: 14px;
    color: 58616c;
    background-color: 283443;
    outline:none;
    border-color: 58616c;
}

.aa-product__bullet{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.aa-product--colr1{
    background-color: 26324b;
}

.aa-product--colr2{
    background-color: e8e9ea;
}

.aa-product--colr3{
    background-color: de4640;
}

.aa-product--colr4{
    background-color: 20c5cc;
}

.aa-product--position{
    position: absolute;
    bottom: 20px;
    left: 175px;
}

.aa-product__bullet:hover{
    transform: scale(1.3, 1.3);
}

